# Let's remove some cruft from git status output.  These are generated
# as part of the build and should never be committed.

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
include/config.h.in
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ylwrap

.deps
.libs
config.log
config.status
include/config.h
include/stamp-h1
lib/Xm/Xm.h
lib/Xm/stamp-h2
lib/Xm/xmstring.list
libtool

*.o
*.lo
*.a
*.la
tools/wml/*.h
*.uid
*.wml


clients/mwm/mwm
clients/uil/UilDBDef.h
clients/uil/UilLexPars.c
clients/uil/UilParser.c
clients/uil/uil
clients/xmbind/xmbind
config/util/makestrs
demos/doc/programGuide/ch05/Scale/tic_mark
demos/doc/programGuide/ch06/combo_box/combo_box
demos/doc/programGuide/ch06/spin_box/spin_box
demos/doc/programGuide/ch08/Container/container
demos/doc/programGuide/ch08/Notebook/notebook
demos/doc/programGuide/ch16/UTMXmText
demos/doc/programGuide/ch17/simple_drag/simple_drag
demos/doc/programGuide/ch17/simple_drop/simple_drop
demos/lib/Exm/wml/Exm.wmd
demos/lib/Exm/wml/UilConst.h
demos/lib/Exm/wml/UilKeyTab.h
demos/lib/Exm/wml/UilSymArTa.h
demos/lib/Exm/wml/UilSymArTy.h
demos/lib/Exm/wml/UilSymCSet.h
demos/lib/Exm/wml/UilSymChCl.h
demos/lib/Exm/wml/UilSymChTa.h
demos/lib/Exm/wml/UilSymCtl.h
demos/lib/Exm/wml/UilSymEnum.h
demos/lib/Exm/wml/UilSymGen.h
demos/lib/Exm/wml/UilSymNam.h
demos/lib/Exm/wml/UilSymRArg.h
demos/lib/Exm/wml/UilSymReas.h
demos/lib/Exm/wml/UilTokName.h
demos/lib/Exm/wml/UilUrmClas.h
demos/lib/Exm/wml/tokens.dat
demos/lib/Exm/wml/wml-uil.mm
demos/lib/Exm/wml/wml.report
demos/lib/Exm/wml/wmldbcreate
demos/lib/Xmd/onHelp
demos/programs/ButtonBox/bboxdemo
demos/programs/ColorSel/colordemo
demos/programs/Column/column
demos/programs/Combo2/combo
demos/programs/Exm/app_in_c/exm_in_c
demos/programs/Exm/simple_app/simpleDemo
demos/programs/Ext18List/ext18list
demos/programs/FontSel/fontsel
demos/programs/IconB/iconbuttondemo
demos/programs/Outline/outline
demos/programs/Paned/paned
demos/programs/TabStack/tabstack
demos/programs/Tree/tree
demos/programs/airport/airport
demos/programs/animate/xmanimate
demos/programs/drag_and_drop/DNDDemo
demos/programs/drag_and_drop/simpledrop
demos/programs/draw/draw
demos/programs/earth/earth
demos/programs/filemanager/filemanager
demos/programs/fileview/fileview
demos/programs/getsubres/getsubres
demos/programs/hellomotif/hellomotif
demos/programs/hellomotifi18n/helloint
demos/programs/i18ninput/i18ninput
demos/programs/panner/panner
demos/programs/periodic/periodic
demos/programs/piano/piano
demos/programs/popups/autopopups
demos/programs/sampler2_0/sampler2_0
demos/programs/setdate/setDate
demos/programs/todo/todo
demos/programs/tooltips/tooltips
demos/programs/workspace/wsm
demos/unsupported/aicon/aicon
demos/unsupported/dainput/dainput
demos/unsupported/dogs/dogs
demos/unsupported/hellomotif/hellomotif
demos/unsupported/motifshell/motifshell
demos/unsupported/uilsymdump/uilsymdump
demos/unsupported/xmapdef/xmapdef
demos/unsupported/xmfonts/xmfonts
demos/unsupported/xmforc/xmforc
demos/unsupported/xmform/xmform
lib/Xm/XmStrDefs.c
lib/Xm/XmStrDefs.h
lib/Xm/XmStrDefs22.h
lib/Xm/XmStrDefs23.h
lib/Xm/XmStrDefsI.h
tools/wml/Uil.c
tools/wml/UilLexPars.c
tools/wml/motif.wmd
tools/wml/wml
tools/wml/wml-uil.mm
tools/wml/wml.report
tools/wml/wmldbcreate
tools/wml/wmllex.c
tools/wml/wmlparse.c
tools/wml/wmluiltok
tools/wml/wmluiltok.c

